body {
    font-size: 18px;
    line-height: 30px;
    font-family: Oxygen;
    color: black;
}

main {
    margin: auto;
    max-width: 760px;
}

header, footer {
    background-color: rgb(219, 217, 92);
    margin: auto;
    max-width: 760px;
    padding: 10px;
    border-radius: 10px;
}

header {
    background-color: rgb(219, 217, 92);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    width: 15px;
    height: 45;


}

img {
    float: right;
    height: 200px
}

h1 {
    color: black;
    font-family: Oxygen;
    font-family: 40px;
}

h2 {
    font-size: 30px;
    }

    ul, li {
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }

    footer {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        padding: 3px;
        background-color:  rgb(219, 217, 92);
       
    }