body {
    font-size: 18px;
    line-height: 30px;
    font-family: Oxygen;
    color: black;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
    padding: 0.5rem;
}

header {
    background-color: rgb(219, 217, 92) ;
    color: rgb(0, 0, 0);
    display: flex;
    padding-left: 2rem;

}

header img {
    float: right;
    height: 200px
}

h1 {
    color: black;
    font-family: Oxygen;
    font-family: 40px;
}

h2 {
    font-size: 30px;
    }

    footer {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        padding: 3px;
        background-color:  rgb(219, 217, 92);
       
    }