body {
    margin: auto;
    padding: 1.5em;
    font-size: 16px;
    line-height: 1.5em;
    max-width: 600px; 
}

.palette {
    max-width: 100%;
}

.logo {
    max-width: 25%;
}
header, footer {
    background-color: transparent;
    border-color: indianred;
    border-style: solid;
    border-radius: 1em;
    padding: 1.5em;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}
.website:hover {
    color: crimson;
}

nav a:hover {
    background-color: palevioletred;    
}

.header h1 {
    text-align: center;
}

nav {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.first {
    padding: 1.5em;
    text-align: justify;
	margin-bottom: 20px;
	padding-bottom:20px;
    border-bottom:1px solid #000;
}
 
.first:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}
.h-example {
    font-family: 'Anton', sans-serif;
}
.p-example {
    font-family: 'News Cycle', sans-serif;
}

@media only screen and (min-width: 37.5em) {

    nav ul {
        display: inline-block;
    }

}

@media only screen and (min-width: 23.5em) {
    nav ul {
        display: block;
        text-align: center;
    }
}