body {
    font-size: 18px;
    background-color: white;
    margin: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	box-shadow: 0 1px 15px rgb(95, 95, 95);
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	justify-content: center;
  }
  
  li a:hover {
	background-color: #111;
  }
  
  footer {
	background-color: #333;
	box-shadow: 0 1px 15px rgb(95, 95, 95);
  }

  header img {
	  margin: auto;
	  display: flex;
	  justify-content: center;
  }

@media only screen and (min-width: 70em) {
    
 
}

@media only screen and (min-width: 32.5em) {

}