body {
    margin: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #050517;
    display: flex;
    justify-content: space-evenly;
  }
  
li {
	float: left;
  }
  
li a {
	display: block;
	color: white;
	text-align: center;
    padding: 15px 16px;
	text-decoration: none;
    justify-content: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    font-weight: 200;
  }
  
li a:hover {
    background-color: #1b1b29;
    color: white;
  }

header {
    width: 100%;
	display: flex;
    justify-content: center; 
    overflow: hidden;
}

.name {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 15px;
}

footer {
    overflow: hidden;
	background-color: #050517;
    text-align: center;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.website {
    color: #cf5c36;
    font-weight: 600;
    text-decoration: none;
}

.website:hover {
    color: #e9744d;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 1.5rem;
    margin-top: 0em;
    text-align: center;
    padding: 0.75rem;
    grid-gap: 10px 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.item {
    padding: .5rem;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(204, 207, 204, 0.664);
    border-radius: 0.15rem; 
}

.logo {
    position: absolute;  
}

.logo img {
    width: 30%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}

.button-wrapper {
    display: block;
    text-align: center;
  }
  
  .button {
    border: none;
    border-radius: 3em;
    background-color: #cf5c36;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: inline-block;
    font-size: 23px;
    font-weight: 700;
    padding: 1em 2em;
    width: auto;
    text-decoration: none;
    color: white;
    margin-top: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 8px;
  }

  .testimonials {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #050517;
    letter-spacing: 8px;
    text-align: center;
  }
