body {
    font-size: 18px;
    background-color: white;
    margin: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #172d21;
    display: flex;
    justify-content: space-evenly;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    justify-content: center;
    font-family: 'Fauna One';
  }
  
  li a:hover {
    background-color: #1b512d;
    color: white;
    font-weight: 600;
  }

  .active {
      background-color: white;
      color: #172d21;
  }
  
  footer {
    background-color: #172d21;
    color: white;
    margin: auto;
    padding: 5px;
    text-align: center;
    font-family: 'Fauna One';
  }

  header img {
	  margin: auto;
	  display: flex;
	  justify-content: center;
  }

  main {
    max-width: 960px;
    margin: auto;
}
  
  h1 {
      font-family: 'Dancing Script';
  }

  p {
      font-family: 'Fauna One';
  }

  .herodiv img {
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 100px;
}

.one {
  margin: 10px auto;
  position: relative;
  padding: 0.5em;  
}

.info {
    position: absolute;
    top: 15px;
    margin-left: 8px;
    
    padding: 2px;
   
    font-size: 12px;
    font-weight: 600;
}


.button {
  background-color: #1c7c54;
  font-family: 'Fauna One';
  font-weight: 600;
  border-radius: 3px;
  border-color: #1c7c54;
  cursor: pointer;
  color: white;
    border: none;
    border-radius: 3em;
    display: inline-block;
    padding: 5px;
    width: auto;
    text-decoration: none;
    color: white;   
}

section img:hover {
  box-shadow: 0px 0px 15px 2px rgb(108, 109, 105);
}

main {
    display: flex;
    justify-content: space-between;
}