header, footer {
background-color: rgb(22, 70, 59);
max-width: 60rem;
margin: auto;
padding: 1rem;
text-align: center;
}

.bottom, h1, h3 {
    color: white;
}

.container3 {
    background-color: darksalmon;
    grid-template-columns: auto;
}

img {
    width: 35%;
}