body {
    max-width: 960px;
    margin: auto;
    font-size: 16px;
}
body img[data-src] {
    filter: blur(0.2em);
  }
  
body img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

picture {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 10px;
  }

h1 {
    text-align: center;
    border-bottom: solid 1px;
}