body {
    margin: auto;
    font-size: 16px;
}


header, footer, nav {
    color: rgb(255, 255, 255);
    background-color: #ff7a59;
    padding: 1.5em;
    text-align: center;
    box-shadow: 0 2px 15px rgb(167, 145, 113);
}

nav {
    background-color:#8357ac;
    margin-top: .5em;
}

nav ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    padding: 1em;
}
.navigation li {
    display: none;
}

nav li a {
    text-decoration: none;
    color: white;
    padding: 1em;
}
.responsive li {
    display: block;
}

footer, a {
    font-family: 'News Cycle';
}

a {
    text-decoration: none;
    color: white;
}

.website {
    color: rgb(255, 255, 255);
}
.website:hover {
    color: #8357ac;
}

nav a:hover {
    background-color: #8f6ab1;    
}
nav :active {
    text-decoration: underline;
}

.navigation li:first-child {
    display: block;
    padding: 1em;
    }

.heading h1 {
    text-align: center;
    font-family: 'Anton';
}

.heading h3 {
    font-family: 'News Cycle';
}

main {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}

footer {
    max-width: 600px;
    margin: auto;
}
.preston {
    text-align: center;
    font-family: 'Anton';
}

.section {
    padding: 1em;
	margin-bottom: 20px;
    margin-top: 20px;
    border:1px solid rgb(235, 215, 215);
    background-color: rgba(204, 207, 204, 0.664);
}

.section-1 h3 {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Anton';
    padding: 0.5em;
}

.section-2 {
    display: none;
    margin: auto;
}
.section-2 h3 {
    padding: 1em;
    text-align: center;
    font-family: 'Anton';
}

.section-3 img {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.section-3 {
    font-family: 'Anton';
}
.section-4 p {
    text-align: right;

}

.section-4 h3 {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Anton';
    padding: 0.5em;
}

p {
    font-family: 'News Cycle';
}

@media only screen and (min-width: 320px) {
    nav a {
        display: block;
        text-align: center;
    }
   

   
}