body {
    background-color: #0C7C59;
    max-width: 960px;
    margin: auto;
    padding: 0.5em;
}
header {
    background-color: white;
    border-radius: 1.5em;
    padding: 1em;
    box-shadow: 0 2px 15px rgb(29, 20, 20);
    color: #2B303A;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.heading-1 {
    font-family: 'Abril Fatface', cursive;
    color: #2B303A;
}
header img {
    max-width: 20%;
}

section {
    text-align: center;
}

nav, ul, li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    padding: 1em;
}


footer {
    background-color: #2B303A;
    border-radius: 1.5em;
    padding: 1em;
    box-shadow: 0 2px 15px rgb(29, 20, 20);
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

footer img {
    max-width: 4%;
    padding: 0.5em;
}

main img {
    padding: 1em;

    display: flex;
    justify-content: center;
    margin: auto;
   
}
.heading {
    font-family: 'Abril Fatface', cursive;
    color: white;
}

p {
    font-family: 'Raleway', sans-serif;
    color: white;
}