body {
    width: 960px;
    margin: auto;
}

table {
    margin: auto;
    border-collapse: collapse;
    box-shadow: 2px 8px 15px gray;
}

thead th {
    background-color: black;
    color: yellow;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.sub {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0;
    font-weight: 600;
}

td {
    font-family: sans-serif;
    border: 1px solid rgb(192, 190, 190);
    padding: 10px;
}

.highlight {
    background-color: rgb(202, 202, 202);
}
